*,
*::before,
*::after {
  box-sizing: border-box;
}

.page.theme_dark {
  --text-color: rgba(179, 179, 179, 1);
  --bg-color: rgba(23, 23, 23, 1);
  --accent-color: transparent;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background-color: var(--bg-color);
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
  padding: 0;
}

button:hover {
  text-decoration: underline;
}

button:focus,
a:focus {
  outline: none;
}

button:focus-visible,
a:focus-visible {
  outline: 1px solid var(--text-color);
}

.header {
  padding-block-start: 8.5%;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  padding-block-end: 40px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
  border-block-start: 1px solid var(--text-color);
  border-block-end: 1px solid var(--text-color);
}

.theme_dark .header__logo {
  color: var(--text-color);
}

.header__theme-toggler {
  display: flex;
  gap: 20px;
  list-style: none;
}

.header__theme-button {
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
}

.header__theme-button_is-active {
  position: relative;
  font-weight: 700;
  pointer-events: none;
  z-index: 0;
}

.header__theme-button_is-active::after {
  position: absolute;
  content: '';
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var(--accent-color);
  inset-block-end: 0.3ch;
  inset-inline-end: -4px;
  z-index: -1;
}

.theme_dark .header__theme-button_is-active::after {
  position: absolute;
  content: '';
  inline-size: calc(100% + 8px);
  block-size: 0.7ch;
  background-image: url(../images/pattern.svg);
  inset-block-end: 0.3ch;
  inset-inline-end: -4px;
  z-index: -1;
}

.heading {
  color: var(--text-color);
  font-family: var(--accent-font), serif;
  font-weight: 600;
  text-align: center;
}

.content-section {
  padding-inline: 5vw;
}

.content__title {
  font-size: 30px;
  padding-block: 7% 2.5%;
}

.content__text-block {
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.content__text-block > .content__paragraph:not(:last-child) {
  padding-block-end: 1.5em;
}

.content__text-block_type_first-lettered > .content__paragraph:first-of-type::first-letter {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  padding: 0 4px 0 4px;
  margin-inline-end: 1px;
  background-color: var(--accent-color);
}

.theme_dark .content__text-block_type_first-lettered > .content__paragraph:first-of-type::first-letter {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  padding: 0 4px 0 4px;
  margin-inline-end: 1px;
  border: 1px solid var(--text-color);
}

.content__figure {
  position: relative;
  margin-block: 7%;
  inline-size: calc(100% + 2 * 5vw);
  inset-inline-start: -5vw;
}

.content__picture {
  inline-size: 100%;
}

.content__picture-caption {
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  padding-block: 20px;
  text-align: center;
  border-block-end: 1px solid var(--text-color);
}

.content__blockquote {
  inline-size: 75%;
  padding-block-end: 1.5em;
  padding-inline-start: calc(58px * 100vw / 360px - 5vw);
  font-family: Raleway;
  font-weight: 400;
  font-style: Italic;
  font-size: 18px;
  line-height: 200%;
}

.content__link {
  color: inherit;
  text-underline-offset: 3px;
}

.content__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block-start: 7%;
  border: 1px solid var(--text-color);
  aspect-ratio: 4/3;
}

.content__card-title {
  font-family: var(--accent-font);
  font-weight: 600;
  font-size: 60px;
}

.content__card-subtitle {
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.colored-text {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.colored-text::after {
  position: absolute;
  content: '';
  background-color: var(--accent-color);
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-start: 43px;
  inset-inline-end: -5px;
  z-index: -1;
}

.theme_dark .colored-text::after {
  position: absolute;
  content: '';
  background-image: url(../images/pattern.svg);
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  inset-block-start: 43px;
  inset-inline-end: -5px;
  z-index: -1;
}

.content__list > li {
  position: relative;
  list-style: none;
  padding-inline-start: 40px;
}

.content__list > li::before {
  content: '';
  position: absolute;
  inline-size: 15px;
  block-size: 15px;
  background-image: url(../images/marker-light.svg);
  background-size: cover;
  background-position: center;
  inset-inline-start: 17px;
}

.theme_dark .content__list > li::before {
  content: '';
  position: absolute;
  inline-size: 15px;
  block-size: 15px;
  background-image: url(../images/marker-dark.svg);
  background-size: cover;
  background-position: center;
  inset-inline-start: 17px;
}

.content__list > li:not(:last-child) {
  margin-block-end: 10px;
}

.footer {
  text-align: center;
  margin-block-start: 10%;
  padding: 2.5%;
  border-block-start: 1px solid var(--text-color);
}

.footer__copyright {
  color: var(--text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
}
